@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "RegolaPro";
  src: url("/fonts/Regola-Pro-Regular.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  padding: 0;
  padding: 0;
  height: 100%;
  color: #FFF;
  background: #111 !important;
  font-family: "RegolaPro", sans-serif;
  text-rendering: geometricPrecision;
  font-feature-settings: "calt" off;
  -webkit-overflow-scrolling: touch;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .link {
    @apply text-gray-11 underline leading-5 text-sm font-light;
  }
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

.sticky > * {
  -webkit-transform: translateZ(0);
}
